* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

#map { 
  height: 200px; 
  margin-top: 80px;
}

body {
  background-color: orange;
}
.main {
  border: 2px solid purple;
  /* margin: 20px; */
  /* display: flex;
    justify-content: center;
    align-items: center; */
}
.bgimg {
  background-image: url(./images/pattern-bg-desktop.png);
  /* padding: 25px 0 80px 0; */
  height: 300px;
  padding: 35px 0;
}
h2 {
  text-align: center;
  color: white;
}

#searchInput {
  box-sizing: border-box;
  width: 400px;
  text-align: center;
}
.input {
  /* width: 400px; */
  text-align: center;
  padding-top: 25px;
  /* background: white; */
  display: flex;
  justify-content: center;

  /* align-items: center; */
}
.input div {
  display: flex;
  padding: 20px;
}
.input p {
  background-color: black;
  color: white;
  padding: 10px 15px;
  text-align: center;
  border-radius: 0 12px 12px 0;
}

.input input {
  border-color: transparent;
  background: white;
  border-radius: 12px 0 0 12px;
  /* padding-right: 20px; */
  /* padding: 20px; */
  color: hsl(0, 0%, 59%);
}
main {
  /* border: 5px solid purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}
.IPdetails {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  /* width: 70%; */
  /* height: 160px; */
  padding: 40px 10px;
  position: absolute;
  background: white;
}
.IPdetails div {
  /* border: 2px solid red; */
  margin: 0 30px 0 10px;
  padding: 10px 0 5px 15px;
}

hr {
  height: 80px;
}
/* .IPdetails {
  border: 2px solid red;
  position: absolute;
  top: 120px;
  left: 450px;
  background: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 20px 0;
} */

/* .IPdetails div {
  width: 100px;
  background-color: white;
} */
.mainpara {
  font-size: 10px;
  font-weight: 600;
  color: hsl(0, 0%, 59%);
  /* padding: 30px; */
}
.secondpara {
  /* border: 1px solid red; */
  margin-top: 10px;
  font-size: 26px;
  font-weight: 500;
}

/* Responsiveness  for smaller screens*/

@media screen and (max-width: 550px) {
  body {
    background: red;
  }

  .bgimg {
    height: 250px;
    padding: 22px 0;
  }
  .input {
    padding: 5px 0;
  }
  #searchInput {
    width: 220px;
    padding: 15px 0;
  }
  #btn {
    padding-top: 5px;
  }

  .IPdetails {
    display: block;
    border-radius: 5px;
    width: 60%;
    /* height: 160px; */
    padding: 20px 10px;
    position: absolute;
    top: 140px;
    background: white;
    /* text-align: center; */
  }
  hr {
    display: none;
  }
  .secondpara {
    font-size: 16px;
    font-weight: 600;
  }
}
